[submodule "frontend"]
	path = frontend
	url = https://github.com/Qazybek-Team/Academic-Staff-Assessment-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Qazybek-Team/Academic-Staff-Assessment-backend.git
